img {
  margin: 0.5em
}

#jakedellimg{
  width: 100%;
  height: auto;
}

#newkids2 {
  width: 100%
}

#headerimg {
  width:100%;
}

h1 {
  font-family: Roboto;
  font-size: 3em;
}

h2 {
  font-family: serif;
  font-size: 1.5em;
  padding-bottom: 1em;
}

p {
  font-family: Roboto;
  font-size: 1.2em;
  line-height: 1.5em;
}

video {
 height: 20em
}

#VidNewKid1 {
  float: left;
  padding-right: 2em;
  padding-bottom: 1em;
}

#VidNewKid3 {
  float: left;
  padding-right: 2em;
  padding-bottom: 1em;
}

#VidNewKid4 {
  float: right;
  padding-left: 2em;
  padding-bottom: 1em;
}

.caption{
  font-size: 0.9em;
  text-align: center;
  font-style: oblique;
  font-family: serif;
}

.container {
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.PullQuote {
  font-family: Georgia;
  font-size: 2em;
  line-height: 1.2em;
}

@media(min-width: 300px){
  img {
    margin: 0.5em
  }

  #jakedellimg{
    width: 100%;
    height: auto;
  }

  #newkids2 {
    width: 100%
  }

  #headerimg {
    width:100%;
  }

  h1 {
    font-family: Roboto;
    font-size: 3em;
  }

  h2 {
    font-family: serif;
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  p {
    font-family: Roboto;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  video {
   margin: 1em;
   height: 20em
  }

  #VidNewKid1 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid3 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid4 {
    float: right;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  .caption{
    font-size: 0.9em;
    text-align: center;
    font-style: oblique;
    font-family: serif;
  }

  .container {
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .PullQuote {
    font-family: Georgia;
    font-size: 2em;
    line-height: 1.2em;
  }
}

@media(min-width: 768px){
  img {
    margin: 0.5em
  }

  #jakedellimg{
    width: 100%;
    height: auto;
  }

  #newkids2 {
    width: 100%
  }

  #headerimg {
    width:100%;
  }

  h1 {
    font-family: Roboto;
    font-size: 3em;
  }

  h2 {
    font-family: serif;
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  p {
    font-family: Roboto;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  video {
    margin:0 10px 5px 0;
    padding-right: 1em;
  }

  #VidNewKid1 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid3 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid4 {
    float: right;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  .caption{
    font-size: 0.9em;
    text-align: center;
    font-style: oblique;
    font-family: serif;
  }

  .container {
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .PullQuote {
    font-family: Georgia;
    font-size: 2em;
    line-height: 1.2em;
  }
}

@media(min-width: 300px){
  img {
    margin: 0.5em
  }

  #jakedellimg{
    width: 100%;
    height: auto;
  }

  #newkids2 {
    width: 100%
  }

  #headerimg {
    width:100%;
  }

  h1 {
    font-family: Roboto;
    font-size: 3em;
  }

  h2 {
    font-family: serif;
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  p {
    font-family: Roboto;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  video {
    margin: inherit;
    height: 40em;
  }

  #VidNewKid1 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid3 {
    float: left;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  #VidNewKid4 {
    float: right;
    padding-left: 2em;
    padding-bottom: 1em;
  }

  .caption{
    font-size: 0.9em;
    text-align: center;
    font-style: oblique;
    font-family: serif;
  }

  .container {
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .PullQuote {
    font-family: Georgia;
    font-size: 2em;
    line-height: 1.2em;
  }
}
