h1 {
  font-family: Lato;
  font-weight: bold;
  font-size: 3em;
}

p {
  font-family: Nunito;
  font-size: 1em;
}

.Intro{
  font-size: 1em;
  font-family: Nunito;
  color: #3585f4;
}

a {
  font-family:Lato;
  font-weight: 600;
  font-size: 1.4em;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #3585f4;
  text-decoration: none;
}

a:active{
  color: #3585f4;
  text-decoration: none;
}

div {
  padding-left: 5em;
  padding-bottom: 3em;
  padding-right: 5em;
  margin-right: 35em;
}

img {
  width: auto;
  height: 15em;
}

#Profile {
  width: auto;
  height: 20em;
}
